AddDefaultCharset UTF-8
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>


AuthName "Auth"
AuthType Basic  
Require valid-user
AuthUserFile C:\openserver\domains\itinvent.local\.htpasswd